# Movies Recommender System

![Movie Recommender System](https://cdn-images-1.medium.com/max/1200/1*PsI17WdbeL1OUyhD5H6JMQ.png)

#### This is a simple project to show different types of recommended system to recommended movies to user
This notebook implement 4 type of recommended system:

1. Simple Recommender: This system used overall TMDB Vote Count and Vote Averages to build Top Movies Charts, in general and for a specific genre. The IMDB Weighted Rating System was used to calculate ratings on which the sorting was finally performed.

2. Content Based Recommender: We built two content based engines; one that took movie overview and taglines as input and the other which took metadata such as cast, crew, genre and keywords to come up with predictions. We also deviced a simple filter to give greater preference to movies with more votes and higher ratings.

3. Collaborative Filtering: We used the powerful Surprise Library to build a collaborative filter based on single value decomposition. The RMSE obtained was less than 1 and the engine gave estimated ratings for a given user and movie.

4. Hybrid Engine: We brought together ideas from content and collaborative filterting to build an engine that gave movie suggestions to a particular user based on the estimated ratings that it had internally calculated for that user.

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from ast import literal_eval
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import wordnet
from surprise import Reader, Dataset, SVD, evaluate

import warnings; warnings.simplefilter('ignore')

In [2]:
md = pd.read_csv('movies_metadata.csv')
md.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [3]:
md['genres'] = md['genres'].fillna('[]').apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

In [4]:
md['genres']

0                        [Animation, Comedy, Family]
1                       [Adventure, Fantasy, Family]
2                                  [Romance, Comedy]
3                           [Comedy, Drama, Romance]
4                                           [Comedy]
5                   [Action, Crime, Drama, Thriller]
6                                  [Comedy, Romance]
7                 [Action, Adventure, Drama, Family]
8                      [Action, Adventure, Thriller]
9                      [Adventure, Action, Thriller]
10                          [Comedy, Drama, Romance]
11                                  [Comedy, Horror]
12                    [Family, Animation, Adventure]
13                                  [History, Drama]
14                               [Action, Adventure]
15                                    [Drama, Crime]
16                                  [Drama, Romance]
17                                   [Crime, Comedy]
18                        [Crime, Comedy, Adventure]
19                           [Action, Comedy, Crime]
20                         [Comedy, Thriller, Crime]
21                                 [Drama, Thriller]
22              [Action, Adventure, Crime, Thriller]
23       [Drama, Fantasy, Science Fiction, Thriller]
24                                  [Drama, Romance]
25                                           [Drama]
26                           [Comedy, Drama, Family]
27                                  [Drama, Romance]
28             [Fantasy, Science Fiction, Adventure]
29                                    [Drama, Crime]
                            ...
45436            [Action, Mystery, Thriller, Horror]
45437           [Family, Animation, Romance, Comedy]
45438                                        [Drama]
45439                       [Drama, Fantasy, Horror]
45440                      [Drama, Family, TV Movie]
45441                                       [Comedy]
45442                                             []
45443             [Comedy, Fantasy, Science Fiction]
45444                                      [Fantasy]
45445                              [Fantasy, Comedy]
45446                              [Fantasy, Comedy]
45447                                             []
45448                                             []
45449                            [Animation, Family]
45450                    [Fantasy, Action, Thriller]
45451                              [Comedy, Fantasy]
45452                                  [Documentary]
45453                       [Crime, Drama, Thriller]
45454                                [Comedy, Drama]
45455                                             []
45456                    [Horror, Mystery, Thriller]
45457                              [Mystery, Horror]
45458                                       [Horror]
45459                              [Science Fiction]
45460                       [Drama, Action, Romance]
45461                                [Drama, Family]
45462                                        [Drama]
45463                      [Action, Drama, Thriller]
45464                                             []
45465                                             []
Name: genres, Length: 45466, dtype: object

In [5]:
vote_counts = md[md['vote_count'].notnull()]['vote_count'].astype('int')
vote_averages = md[md['vote_average'].notnull()]['vote_average'].astype('int')
C = vote_averages.mean()
C

5.244896612406511

In [6]:
m = vote_counts.quantile(0.95)
m

434.0

In [7]:
md['year'] = pd.to_datetime(md['release_date'], errors='coerce').apply(lambda x: str(x).split('-')[0] if x != np.nan  else np.nan)

In [8]:
md['year']

0        1995
1        1995
2        1995
3        1995
4        1995
5        1995
6        1995
7        1995
8        1995
9        1995
10       1995
11       1995
12       1995
13       1995
14       1995
15       1995
16       1995
17       1995
18       1995
19       1995
20       1995
21       1995
22       1995
23       1995
24       1995
25       1995
26       1995
27       1995
28       1995
29       1995
         ...
45436    2010
45437    2017
45438    2015
45439    1944
45440    2007
45441    2002
45442    1905
45443    1901
45444    1905
45445    1906
45446    1909
45447    1904
45448    1904
45449    2005
45450    1900
45451    1900
45452    1981
45453    2017
45454    2015
45455    1972
45456    1946
45457    2000
45458    2000
45459    1995
45460    1991
45461     NaT
45462    2011
45463    2003
45464    1917
45465    2017
Name: year, Length: 45466, dtype: object

In [9]:
qualified = md[(md['vote_count'] >= m) & (md['vote_count'].notnull()) & (md['vote_average'].notnull())][['title', 'year', 'vote_count', 'vote_average', 'popularity', 'genres']]

qualified['vote_count'] = qualified['vote_count'].astype('int')
qualified['vote_average'] = qualified['vote_average'].astype('int')
qualified.shape

(2274, 6)

Therefore, to qualify to be considered for the chart, a movie has to have at least 434 votes on TMDB. We also see that the average rating for a movie on TMDB is 5.244 on a scale of 10. 2274 Movies qualify to be on our chart.

In [10]:
def weighted_rating(x): 
    v = x['vote_count']
    R = x['vote_average']
    return ( v/(v + m) * R) + (m/(m+v) * C)

In [11]:
qualified['wr'] = qualified.apply(weighted_rating, axis=1)

In [12]:
qualified = qualified.sort_values('wr', ascending=False).head(250)

In [13]:
qualified.head(15)

,title,year,vote_count,vote_average,popularity,genres,wr
15480,Inception,2010,14075,8,29.1081,"[Action, Thriller, Science Fiction, Mystery, A...",7.917588
12481,The Dark Knight,2008,12269,8,123.167,"[Drama, Action, Crime, Thriller]",7.905871
22879,Interstellar,2014,11187,8,32.2135,"[Adventure, Drama, Science Fiction]",7.897107
2843,Fight Club,1999,9678,8,63.8696,[Drama],7.881753
4863,The Lord of the Rings: The Fellowship of the Ring,2001,8892,8,32.0707,"[Adventure, Fantasy, Action]",7.871787
292,Pulp Fiction,1994,8670,8,140.95,"[Thriller, Crime]",7.868660
314,The Shawshank Redemption,1994,8358,8,51.6454,"[Drama, Crime]",7.864000
7000,The Lord of the Rings: The Return of the King,2003,8226,8,29.3244,"[Adventure, Fantasy, Action]",7.861927
351,Forrest Gump,1994,8147,8,48.3072,"[Comedy, Drama, Romance]",7.860656
5814,The Lord of the Rings: The Two Towers,2002,7641,8,29.4235,"[Adventure, Fantasy, Action]",7.851924
256,Star Wars,1977,6778,8,42.1497,"[Adventure, Action, Science Fiction]",7.834205
1225,Back to the Future,1985,6239,8,25.7785,"[Adventure, Comedy, Science Fiction, Family]",7.820813
834,The Godfather,1972,6024,8,41.1093,"[Drama, Crime]",7.814847
1154,The Empire Strikes Back,1980,5998,8,19.471,"[Adventure, Action, Science Fiction]",7.814099
46,Se7en,1995,5915,8,18.4574,"[Crime, Mystery, Thriller]",7.811669

In [14]:
s = md.apply(lambda x: pd.Series(x['genres']),axis=1).stack().reset_index(level=1, drop=True)
s.name = 'genre'
gen_md = md.drop('genres', axis=1).join(s)

In [15]:
print(gen_md)

       adult                              belongs_to_collection    budget  \
0      False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
0      False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
0      False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
1      False                                                NaN  65000000
1      False                                                NaN  65000000
1      False                                                NaN  65000000
2      False  {'id': 119050, 'name': 'Grumpy Old Men Collect...         0
2      False  {'id': 119050, 'name': 'Grumpy Old Men Collect...         0
3      False                                                NaN  16000000
3      False                                                NaN  16000000
3      False                                                NaN  16000000
4      False  {'id': 96871, 'name': 'Father of the Bride Col...         0
5      False                                                NaN  60000000
5      False                                                NaN  60000000
5      False                                                NaN  60000000
5      False                                                NaN  60000000
6      False                                                NaN  58000000
6      False                                                NaN  58000000
7      False                                                NaN         0
7      False                                                NaN         0
7      False                                                NaN         0
7      False                                                NaN         0
8      False                                                NaN  35000000
8      False                                                NaN  35000000
8      False                                                NaN  35000000
9      False  {'id': 645, 'name': 'James Bond Collection', '...  58000000
9      False  {'id': 645, 'name': 'James Bond Collection', '...  58000000
9      False  {'id': 645, 'name': 'James Bond Collection', '...  58000000
10     False                                                NaN  62000000
10     False                                                NaN  62000000
...      ...                                                ...       ...
45450  False                                                NaN         0
45450  False                                                NaN         0
45450  False                                                NaN         0
45451  False                                                NaN         0
45451  False                                                NaN         0
45452  False                                                NaN         0
45453  False                                                NaN         0
45453  False                                                NaN         0
45453  False                                                NaN         0
45454  False                                                NaN         0
45454  False                                                NaN         0
45455  False                                                NaN         0
45456  False                                                NaN         0
45456  False                                                NaN         0
45456  False                                                NaN         0
45457  False                                                NaN         0
45457  False                                                NaN         0
45458  False                                                NaN         0
45459  False                                                NaN         0
45460  False                                                NaN         0
45460  False                                                NaN         0
45460  False                                                NaN         0
45461  False                                                NaN         0
45461  False                                                NaN         0
45462  False                                                NaN         0
45463  False                                                NaN         0
45463  False                                                NaN         0
45463  False                                                NaN         0
45464  False                                                NaN         0
45465  False                                                NaN         0

                                           homepage      id    imdb_id  \
0              http://toystory.disney.com/toy-story     862  tt0114709
0              http://toystory.disney.com/toy-story     862  tt0114709
0              http://toystory.disney.com/toy-story     862  tt0114709
1                                               NaN    8844  tt0113497
1                                               NaN    8844  tt0113497
1                                               NaN    8844  tt0113497
2                                               NaN   15602  tt0113228
2                                               NaN   15602  tt0113228
3                                               NaN   31357  tt0114885
3                                               NaN   31357  tt0114885
3                                               NaN   31357  tt0114885
4                                               NaN   11862  tt0113041
5                                               NaN     949  tt0113277
5                                               NaN     949  tt0113277
5                                               NaN     949  tt0113277
5                                               NaN     949  tt0113277
6                                               NaN   11860  tt0114319
6                                               NaN   11860  tt0114319
7                                               NaN   45325  tt0112302
7                                               NaN   45325  tt0112302
7                                               NaN   45325  tt0112302
7                                               NaN   45325  tt0112302
8                                               NaN    9091  tt0114576
8                                               NaN    9091  tt0114576
8                                               NaN    9091  tt0114576
9      http://www.mgm.com/view/movie/757/Goldeneye/     710  tt0113189
9      http://www.mgm.com/view/movie/757/Goldeneye/     710  tt0113189
9      http://www.mgm.com/view/movie/757/Goldeneye/     710  tt0113189
10                                              NaN    9087  tt0112346
10                                              NaN    9087  tt0112346
...                                             ...     ...        ...
45450                                           NaN   49280  tt0135453
45450                                           NaN   49280  tt0135453
45450                                           NaN   49280  tt0135453
45451                                           NaN  106807  tt0135571
45451                                           NaN  106807  tt0135571
45452                                           NaN  276895  tt3054038
45453                                           NaN  404604  tt5690142
45453                                           NaN  404604  tt5690142
45453                                           NaN  404604  tt5690142
45454                                           NaN  420346  tt4130180
45454                                           NaN  420346  tt4130180
45455                                           NaN   67179  tt0069215
45456                                           NaN   84419  tt0038621
45456                                           NaN   84419  tt0038621
45456                                           NaN   84419  tt0038621
45457                                           NaN  390959  tt0265736
45457                                           NaN  390959  tt0265736
45458                                           NaN  289923  tt0252966
45459                                           NaN  222848  tt0112613
45460                                           NaN   30840  tt0102797
45460                                           NaN   30840  tt0102797
45460                                           NaN   30840  tt0102797
45461          http://www.imdb.com/title/tt6209470/  439050  tt6209470
45461          http://www.imdb.com/title/tt6209470/  439050  tt6209470
45462                                           NaN  111109  tt2028550
45463                                           NaN   67758  tt0303758
45463                                           NaN   67758  tt0303758
45463                                           NaN   67758  tt0303758
45464                                           NaN  227506  tt0008536
45465                                           NaN  461257  tt6980792

      original_language                  original_title  \
0                    en                       Toy Story
0                    en                       Toy Story
0                    en                       Toy Story
1                    en                         Jumanji
1                    en                         Jumanji
1                    en                         Jumanji
2                    en                Grumpier Old Men
2                    en                Grumpier Old Men
3                    en               Waiting to Exhale
3                    en               Waiting to Exhale
3                    en               Waiting to Exhale
4                    en     Father of the Bride Part II
5                    en                            Heat
5                    en                            Heat
5                    en                            Heat
5                    en                            Heat
6                    en                         Sabrina
6                    en                         Sabrina
7                    en                    Tom and Huck
7                    en                    Tom and Huck
7                    en                    Tom and Huck
7                    en                    Tom and Huck
8                    en                    Sudden Death
8                    en                    Sudden Death
8                    en                    Sudden Death
9                    en                       GoldenEye
9                    en                       GoldenEye
9                    en                       GoldenEye
10                   en          The American President
10                   en          The American President
...                 ...                             ...
45450                fr               L'Homme orchestre
45450                fr               L'Homme orchestre
45450                fr               L'Homme orchestre
45451                fr  Nouvelles luttes extravagantes
45451                fr  Nouvelles luttes extravagantes
45452                en                     Deep Hearts
45453                hi                             Maa
45453                hi                             Maa
45453                hi                             Maa
45454                en               The Morning After
45454                en               The Morning After
45455                it      San Michele aveva un gallo
45456                en                House of Horrors
45456                en                House of Horrors
45456                en                House of Horrors
45457                en       Shadow of the Blair Witch
45457                en       Shadow of the Blair Witch
45458                en             The Burkittsville 7
45459                en                 Caged Heat 3000
45460                en                      Robin Hood
45460                en                      Robin Hood
45460                en                      Robin Hood
45461                fa                         رگ خواب
45461                fa                         رگ خواب
45462                tl             Siglo ng Pagluluwal
45463                en                        Betrayal
45463                en                        Betrayal
45463                en                        Betrayal
45464                en             Satana likuyushchiy
45465                en                        Queerama

                                                overview popularity  \
0      Led by Woody, Andy's toys live happily in his ...    21.9469
0      Led by Woody, Andy's toys live happily in his ...    21.9469
0      Led by Woody, Andy's toys live happily in his ...    21.9469
1      When siblings Judy and Peter discover an encha...    17.0155
1      When siblings Judy and Peter discover an encha...    17.0155
1      When siblings Judy and Peter discover an encha...    17.0155
2      A family wedding reignites the ancient feud be...    11.7129
2      A family wedding reignites the ancient feud be...    11.7129
3      Cheated on, mistreated and stepped on, the wom...    3.85949
3      Cheated on, mistreated and stepped on, the wom...    3.85949
3      Cheated on, mistreated and stepped on, the wom...    3.85949
4      Just when George Banks has recovered from his ...    8.38752
5      Obsessive master thief, Neil McCauley leads a ...    17.9249
5      Obsessive master thief, Neil McCauley leads a ...    17.9249
5      Obsessive master thief, Neil McCauley leads a ...    17.9249
5      Obsessive master thief, Neil McCauley leads a ...    17.9249
6      An ugly duckling having undergone a remarkable...    6.67728
6      An ugly duckling having undergone a remarkable...    6.67728
7      A mischievous young boy, Tom Sawyer, witnesses...    2.56116
7      A mischievous young boy, Tom Sawyer, witnesses...    2.56116
7      A mischievous young boy, Tom Sawyer, witnesses...    2.56116
7      A mischievous young boy, Tom Sawyer, witnesses...    2.56116
8      International action superstar Jean Claude Van...    5.23158
8      International action superstar Jean Claude Van...    5.23158
8      International action superstar Jean Claude Van...    5.23158
9      James Bond must unmask the mysterious head of ...     14.686
9      James Bond must unmask the mysterious head of ...     14.686
9      James Bond must unmask the mysterious head of ...     14.686
10     Widowed U.S. president Andrew Shepherd, one of...    6.31844
10     Widowed U.S. president Andrew Shepherd, one of...    6.31844
...                                                  ...        ...
45450  A band-leader has arranged seven chairs for th...   1.109068
45450  A band-leader has arranged seven chairs for th...   1.109068
45450  A band-leader has arranged seven chairs for th...   1.109068
45451         A series of fantastical wrestling matches.   0.225432
45451         A series of fantastical wrestling matches.   0.225432
45452  Deep Hearts is a film about the Bororo Fulani,...   0.011025
45453  The bliss of a biology teacher’s family life i...   1.559596
45453  The bliss of a biology teacher’s family life i...   1.559596
45453  The bliss of a biology teacher’s family life i...   1.559596
45454  The Morning After is a feature film that consi...   0.139936
45454  The Morning After is a feature film that consi...   0.139936
45455  Sentenced to life imprisonment for illegal act...   0.225051
45456  An unsuccessful sculptor saves a madman named ...   0.222814
45456  An unsuccessful sculptor saves a madman named ...   0.222814
45456  An unsuccessful sculptor saves a madman named ...   0.222814
45457  In this true-crime documentary, we delve into ...   0.076061
45457  In this true-crime documentary, we delve into ...   0.076061
45458  A film archivist revisits the story of Rustin ...    0.38645
45459  It's the year 3000 AD. The world's most danger...   0.661558
45460  Yet another version of the classic epic, with ...   5.683753
45460  Yet another version of the classic epic, with ...   5.683753
45460  Yet another version of the classic epic, with ...   5.683753
45461        Rising and falling between a man and woman.   0.072051
45461        Rising and falling between a man and woman.   0.072051
45462  An artist struggles to finish his work while a...   0.178241
45463  When one of her hits goes wrong, a professiona...   0.903007
45463  When one of her hits goes wrong, a professiona...   0.903007
45463  When one of her hits goes wrong, a professiona...   0.903007
45464  In a small town live two brothers, one a minis...   0.003503
45465  50 years after decriminalisation of homosexual...   0.163015

            ...        runtime  \
0           ...           81.0
0           ...           81.0
0           ...           81.0
1           ...          104.0
1           ...          104.0
1           ...          104.0
2           ...          101.0
2           ...          101.0
3           ...          127.0
3           ...          127.0
3           ...          127.0
4           ...          106.0
5           ...          170.0
5           ...          170.0
5           ...          170.0
5           ...          170.0
6           ...          127.0
6           ...          127.0
7           ...           97.0
7           ...           97.0
7           ...           97.0
7           ...           97.0
8           ...          106.0
8           ...          106.0
8           ...          106.0
9           ...          130.0
9           ...          130.0
9           ...          130.0
10          ...          106.0
10          ...          106.0
...         ...            ...
45450       ...            1.0
45450       ...            1.0
45450       ...            1.0
45451       ...            2.0
45451       ...            2.0
45452       ...           58.0
45453       ...          146.0
45453       ...          146.0
45453       ...          146.0
45454       ...           79.0
45454       ...           79.0
45455       ...           90.0
45456       ...           65.0
45456       ...           65.0
45456       ...           65.0
45457       ...           45.0
45457       ...           45.0
45458       ...           30.0
45459       ...           85.0
45460       ...          104.0
45460       ...          104.0
45460       ...          104.0
45461       ...           90.0
45461       ...           90.0
45462       ...          360.0
45463       ...           90.0
45463       ...           90.0
45463       ...           90.0
45464       ...           87.0
45465       ...           75.0

                                        spoken_languages    status  \
0               [{'iso_639_1': 'en', 'name': 'English'}]  Released
0               [{'iso_639_1': 'en', 'name': 'English'}]  Released
0               [{'iso_639_1': 'en', 'name': 'English'}]  Released
1      [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released
1      [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released
1      [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released
2               [{'iso_639_1': 'en', 'name': 'English'}]  Released
2               [{'iso_639_1': 'en', 'name': 'English'}]  Released
3               [{'iso_639_1': 'en', 'name': 'English'}]  Released
3               [{'iso_639_1': 'en', 'name': 'English'}]  Released
3               [{'iso_639_1': 'en', 'name': 'English'}]  Released
4               [{'iso_639_1': 'en', 'name': 'English'}]  Released
5      [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released
5      [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released
5      [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released
5      [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released
6      [{'iso_639_1': 'fr', 'name': 'Français'}, {'is...  Released
6      [{'iso_639_1': 'fr', 'name': 'Français'}, {'is...  Released
7      [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released

In [16]:
def build_chart(genre, percentile=0.85):
    df = gen_md[gen_md['genre'] == genre]
    vote_counts = df[df['vote_count'].notnull()]['vote_count'].astype('int')
    vote_averages = df[df['vote_average'].notnull()]['vote_average'].astype('int')
    C = vote_averages.mean()
    m = vote_counts.quantile(percentile)
    
    qualified = df[(df['vote_count'] >= m) & (df['vote_count'].notnull()) & (df['vote_average'].notnull())][['title', 'year', 'vote_count', 'vote_average', 'popularity']]
    qualified['vote_count'] = qualified['vote_count'].astype('int')
    qualified['vote_average'] = qualified['vote_average'].astype('int')
    
    qualified['wr'] = qualified.apply(lambda x: (x['vote_count']/(x['vote_count']+m) * x['vote_average']) + (m/(m+x['vote_count']) * C), axis=1)
    qualified = qualified.sort_values('wr', ascending=False).head(250)
    
    return qualified

In [18]:
# Top Romance Movies
build_chart('Romance').head(15)

,title,year,vote_count,vote_average,popularity,wr
10309,Dilwale Dulhania Le Jayenge,1995,661,9,34.457,8.565285
351,Forrest Gump,1994,8147,8,48.3072,7.971357
876,Vertigo,1958,1162,8,18.2082,7.811667
40251,Your Name.,2016,1030,8,34.461252,7.789489
883,Some Like It Hot,1959,835,8,11.8451,7.745154
1132,Cinema Paradiso,1988,834,8,14.177,7.744878
19901,Paperman,2012,734,8,7.19863,7.713951
37863,Sing Street,2016,669,8,10.672862,7.689483
882,The Apartment,1960,498,8,11.9943,7.599317
38718,The Handmaiden,2016,453,8,16.727405,7.566166
3189,City Lights,1931,444,8,10.8915,7.558867
24886,The Way He Looks,2014,262,8,5.71127,7.331363
45437,In a Heartbeat,2017,146,8,20.82178,7.003959
1639,Titanic,1997,7770,7,26.8891,6.981546
19731,Silver Linings Playbook,2012,4840,7,14.4881,6.970581

# Content Based Recommender

The recommender we built in the previous section suffers some severe limitations. For one, it gives the same recommendation to everyone, regardless of the user's personal taste. If a person who loves romantic movies (and hates action) were to look at our Top 15 Chart, s/he wouldn't probably like most of the movies. If s/he were to go one step further and look at our charts by genre, s/he wouldn't still be getting the best recommendations.

For instance, consider a person who loves Dilwale Dulhania Le Jayenge, My Name is Khan and Kabhi Khushi Kabhi Gham. One inference we can obtain is that the person loves the actor Shahrukh Khan and the director Karan Johar. Even if s/he were to access the romance chart, s/he wouldn't find these as the top recommendations.

To personalise our recommendations more, I am going to build an engine that computes similarity between movies based on certain metrics and suggests movies that are most similar to a particular movie that a user liked. Since we will be using movie metadata (or content) to build this engine, this also known as Content Based Filtering.

In [19]:
links_small = pd.read_csv('links_small.csv')
links_small = links_small[links_small['tmdbId'].notnull()]['tmdbId'].astype('int')

In [20]:
md = md.drop([19730, 29503, 35587])

In [21]:
md['id'] = md['id'].astype(int)

In [22]:
smd = md[md['id'].isin(links_small)]
smd.shape

(9099, 25)

In [24]:
smd['tagline'] = smd['tagline'].fillna('')
smd['description'] = smd['overview'] + smd['tagline']
smd['description'] = smd['description'].fillna('')

In [26]:
smd['description']

0        Led by Woody, Andy's toys live happily in his ...
1        When siblings Judy and Peter discover an encha...
2        A family wedding reignites the ancient feud be...
3        Cheated on, mistreated and stepped on, the wom...
4        Just when George Banks has recovered from his ...
5        Obsessive master thief, Neil McCauley leads a ...
6        An ugly duckling having undergone a remarkable...
7        A mischievous young boy, Tom Sawyer, witnesses...
8        International action superstar Jean Claude Van...
9        James Bond must unmask the mysterious head of ...
10       Widowed U.S. president Andrew Shepherd, one of...
11       When a lawyer shows up at the vampire's doorst...
12       An outcast half-wolf risks his life to prevent...
13       An all-star cast powers this epic look at Amer...
14       Morgan Adams and her slave, William Shaw, are ...
15       The life of the gambling paradise – Las Vegas ...
16       Rich Mr. Dashwood dies, leaving his second wif...
17       It's Ted the Bellhop's first night on the job....
18       Summoned from an ashram in Tibet, Ace finds hi...
19       A vengeful New York transit cop decides to ste...
20       Chili Palmer is a Miami mobster who gets sent ...
21       An agoraphobic psychologist and a female detec...
22       Assassin Robert Rath arrives at a funeral to k...
23       Harassed by classmates who won't accept his sh...
24       Ben Sanderson, an alcoholic Hollywood screenwr...
25       The evil Iago pretends to be friend of Othello...
26       Waxing nostalgic about the bittersweet passage...
27       This film adaptation of Jane Austen's last nov...
28       A scientist in a surrealist society kidnaps ch...
29       A provincial boy related to a Shanghai crime f...
                               ...
39038    After supervillain Shredder escapes custody, h...
39063    When his new album fails to sell records, pop/...
39097    Lorraine and Ed Warren travel to north London ...
39118    Captain William Stanaforth is on a one-way sol...
39149    Following a ghost invasion of Manhattan, paran...
39224    After he reunites with an old pal through Face...
39287    The most dangerous former operative of the CIA...
39288    Drina, a young immigrant working as a live-in ...
39331    Tarzan, having acclimated to life in London, i...
39332    Two years after choosing not to kill the man w...
39333    Mike and Dave are young, adventurous, fun-lovi...
39344    In 1983, the NC State Wolfpack, coached by Jim...
39360    Desperate to be rid of her toddler, a dissatis...
39386    A mother bird tries to teach her little one ho...
39463    Industrious high school senior, Vee Delmonico,...
39520    Christian Karl Gerhartsreiter lived a life of ...
39549    Sunspring is a short film about three people l...
39619    New York magazine’s October 2005 issue sent sh...
39663    A divorced dad and his ex-con brother resort t...
39669    The magical kingdom of Lucis is home to the wo...
39752    A night out turns deadly when three girls brea...
39771    The new installment of the Sharknado franchise...
39784    A man must cope with the loss of his wife and ...
40004    Rustom Pavri, an honourable officer of the Ind...
40058    Village lad Sarman is drawn to big, bad Mohenj...
40224    From the mind behind Evangelion comes a hit la...
40503    The band stormed Europe in 1963, and, in 1964,...
44821    When Molly Hale's sadness of her father's disa...
44826    All your favorite Pokémon characters are back,...
45265    While holidaying in the French Alps, a Swedish...
Name: description, Length: 9099, dtype: object

In [25]:
tf = TfidfVectorizer(analyzer='word', ngram_range=(1,2), min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(smd['description'])

In [27]:
tfidf_matrix.shape

(9099, 268124)

### Cosine Similarity

I will be using the Cosine Similarity to calculate a numeric quantity that denotes the similarity between two movies. Mathematically, it is defined as follows:

cosine(x,y)=  x.y⊺ / ||x||.||y|| 

Since we have used the TF-IDF Vectorizer, calculating the Dot Product will directly give us the Cosine Similarity Score. Therefore, we will use sklearn's linear_kernel instead of cosine_similarities since it is much faster.

In [28]:
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [29]:
cosine_sim[0]

array([1.        , 0.00680476, 0.        , ..., 0.        , 0.00344913,
       0.        ])

We now have a pairwise cosine similarity matrix for all the movies in our dataset. The next step is to write a function that returns the 30 most similar movies based on the cosine similarity score.

In [30]:
smd = smd.reset_index()
titles = smd['title']
indices = pd.Series(smd.index, index=smd['title'])

In [31]:
def get_recommendations(title):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:31]
    movie_indices = [i[0] for i in sim_scores]
    return titles.iloc[movie_indices]

In [32]:
get_recommendations('The Godfather').head(15)

973      The Godfather: Part II
8387                 The Family
3509                       Made
4196         Johnny Dangerously
29               Shanghai Triad
5667                       Fury
2412             American Movie
1582    The Godfather: Part III
4221                    8 Women
2159              Summer of Sam
618                     Thinner
3609              Harlem Nights
8816              Run All Night
3288          Jaws: The Revenge
2192           The Color Purple
Name: title, dtype: object

In [33]:
get_recommendations('The Dark Knight').head(15)

7931                      The Dark Knight Rises
132                              Batman Forever
1113                             Batman Returns
8227    Batman: The Dark Knight Returns, Part 2
7565                 Batman: Under the Red Hood
524                                      Batman
7901                           Batman: Year One
2579               Batman: Mask of the Phantasm
2696                                        JFK
8165    Batman: The Dark Knight Returns, Part 1
6144                              Batman Begins
7933         Sherlock Holmes: A Game of Shadows
5511                            To End All Wars
4489                                      Q & A
7344                        Law Abiding Citizen
Name: title, dtype: object

We see that for The Dark Knight, our system is able to identify it as a Batman film and subsequently recommend other Batman films as its top recommendations. But unfortunately, that is all this system can do at the moment. This is not of much use to most people as it doesn't take into considerations very important features such as cast, crew, director and genre, which determine the rating and the popularity of a movie. Someone who liked The Dark Knight probably likes it more because of Nolan and would hate Batman Forever and every other substandard movie in the Batman Franchise.

Therefore, we are going to use much more suggestive metadata than Overview and Tagline. In the next subsection, we will build a more sophisticated recommender that takes genre, keywords, cast and crew into consideration.

# Metadata Based Recommender

To build our standard metadata based content recommender, we will need to merge our current dataset with the crew and the keyword datasets. Let us prepare this data as our first step.

In [34]:
credits = pd.read_csv('credits.csv')
keywords = pd.read_csv('keywords.csv')

In [35]:
keywords['id'] = keywords['id'].astype('int')
credits['id'] = credits['id'].astype('int')
md['id'] = md['id'].astype('int')

In [36]:
md.shape

(45463, 25)

In [40]:
md = md.merge(credits, on='id')
md = md.merge(keywords, on='id')

In [41]:
smd = md[md['id'].isin(links_small)]
smd.shape

(9219, 28)

We now have our cast, crew, genres and credits, all in one dataframe. Let us wrangle this a little more using the following intuitions:

1. Crew: From the crew, we will only pick the director as our feature since the others don't contribute that much to the feel of the movie.

2. Cast: Choosing Cast is a little more tricky. Lesser known actors and minor roles do not really affect people's opinion of a movie. Therefore, we must only select the major characters and their respective actors. Arbitrarily we will choose the top 3 actors that appear in the credits list.

In [42]:
smd['cast'] = smd['cast'].apply(literal_eval)
smd['crew'] = smd['crew'].apply(literal_eval)
smd['keywords'] = smd['keywords'].apply(literal_eval)
smd['cast_size'] = smd['cast'].apply(lambda x: len(x))
smd['crew_size'] = smd['crew'].apply(lambda x: len(x))

In [43]:
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

In [45]:
smd['director'] = smd['crew'].apply(get_director)

In [46]:
# filtering cast
smd['cast'] = smd['cast'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
smd['cast'] = smd['cast'].apply(lambda x: x[:3] if len(x) >=3 else x)

In [47]:
# filtering keywords
smd['keywords'] = smd['keywords'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

In [48]:
smd['cast'] = smd['cast'].apply(lambda x: [str.lower(i.replace(" ", "")) for i in x])

In [49]:
smd['director'] = smd['director'].astype('str').apply(lambda x: str.lower(x.replace(" ", "")))
smd['director'] = smd['director'].apply(lambda x: [x,x, x])

we calculate the frequenct counts of every keyword that appears in the dataset.

In [50]:
s = smd.apply(lambda x: pd.Series(x['keywords']),axis=1).stack().reset_index(level=1, drop=True)
s.name = 'keyword'

In [51]:
s = s.value_counts()
s[:5]

independent film        610
woman director          550
murder                  399
duringcreditsstinger    327
based on novel          318
Name: keyword, dtype: int64

Keywords occur in frequencies ranging from 1 to 610. We do not have any use for keywords that occur only once. Therefore, these can be safely removed. Finally, we will convert every word to its stem so that words such as Dogs and Dog are considered the same.

In [52]:
s = s[s > 1]

In [53]:
stemmer = SnowballStemmer('english')
stemmer.stem('dogs')

'dog'

In [54]:
def filter_keywords(x):
    words = []
    for i in x:
        if i in s:
            words.append(i)
    return words

In [55]:
smd['keywords'] = smd['keywords'].apply(filter_keywords)
smd['keywords'] = smd['keywords'].apply(lambda x: [stemmer.stem(i) for i in x])
smd['keywords'] = smd['keywords'].apply(lambda x: [str.lower(i.replace(" ", "")) for i in x])

In [56]:
smd['soup'] = smd['keywords'] + smd['cast'] + smd['director'] + smd['genres']
smd['soup'] = smd['soup'].apply(lambda x: ' '.join(x))

In [57]:
count = CountVectorizer(analyzer='word', ngram_range=(1,2), min_df=0, stop_words='english')
count_matrix = count.fit_transform(smd['soup'])

In [58]:
cosine_sim = cosine_similarity(count_matrix, count_matrix)

In [59]:
smd = smd.reset_index()
titles = smd['title']
indices = pd.Series(smd.index, index=smd['title'])

In [60]:
get_recommendations('The Dark Knight').head(15)

8031                 The Dark Knight Rises
6218                         Batman Begins
6623                          The Prestige
2085                             Following
7648                             Inception
4145                              Insomnia
3381                               Memento
8613                          Interstellar
7659            Batman: Under the Red Hood
1134                        Batman Returns
8927               Kidnapping Mr. Heineken
5943                              Thursday
1260                        Batman & Robin
9024    Batman v Superman: Dawn of Justice
4021                  The Long Good Friday
Name: title, dtype: object

### Popularity and Ratings
One thing that we notice about our recommendation system is that it recommends movies regardless of ratings and popularity. It is true that Batman and Robin has a lot of similar characters as compared to The Dark Knight but it was a terrible movie that shouldn't be recommended to anyone.

Therefore, we will add a mechanism to remove bad movies and return movies which are popular and have had a good critical response.

I will take the top 25 movies based on similarity scores and calculate the vote of the 60th percentile movie. Then, using this as the value of  m , we will calculate the weighted rating of each movie using IMDB's formula like we did in the Simple Recommender section.

In [62]:
def improved_recommendations(title):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:26]
    movie_indices = [i[0] for i in sim_scores]
    
    movies = smd.iloc[movie_indices][['title', 'vote_count', 'vote_average', 'year']]
    vote_counts = movies[movies['vote_count'].notnull()]['vote_count'].astype('int')
    vote_averages = movies[movies['vote_average'].notnull()]['vote_average'].astype('int')
    C = vote_averages.mean()
    m = vote_counts.quantile(0.60)
    qualified = movies[(movies['vote_count'] >= m) & (movies['vote_count'].notnull()) & (movies['vote_average'].notnull())]
    qualified['vote_count'] = qualified['vote_count'].astype('int')
    qualified['vote_average'] = qualified['vote_average'].astype('int')
    qualified['wr'] = qualified.apply(weighted_rating, axis=1)
    qualified = qualified.sort_values('wr', ascending=False).head(10)
    return qualified

In [63]:
improved_recommendations('The Dark Knight')

,title,vote_count,vote_average,year,wr
7648,Inception,14075,8,2010,7.917588
8613,Interstellar,11187,8,2014,7.897107
6623,The Prestige,4510,8,2006,7.758148
3381,Memento,4168,8,2000,7.740175
8031,The Dark Knight Rises,9263,7,2012,6.921448
6218,Batman Begins,7511,7,2005,6.904127
1134,Batman Returns,1706,6,1992,5.846862
132,Batman Forever,1529,5,1995,5.054144
9024,Batman v Superman: Dawn of Justice,7189,5,2016,5.013943
1260,Batman & Robin,1447,4,1997,4.287233

In [65]:
improved_recommendations('Iron Man')

,title,vote_count,vote_average,year,wr
7969,The Avengers,12000,7,2012,6.938739
8712,Guardians of the Galaxy,10014,7,2014,6.927095
8872,Captain America: Civil War,7462,7,2016,6.903532
8868,Avengers: Age of Ultron,6908,7,2015,6.896252
8869,Ant-Man,6029,7,2015,6.882142
8626,Captain America: The Winter Soldier,5881,7,2014,6.879380
7889,X-Men: First Class,5252,7,2011,6.866037
8392,Iron Man 3,8951,6,2013,5.965081
7923,Captain America: The First Avenger,7174,6,2011,5.956925
7600,Iron Man 2,6969,6,2010,5.955732

# Collaborative Filtering

Our content based engine suffers from some severe limitations. It is only capable of suggesting movies which are close to a certain movie. That is, it is not capable of capturing tastes and providing recommendations across genres.

Also, the engine that we built is not really personal in that it doesn't capture the personal tastes and biases of a user. Anyone querying our engine for recommendations based on a movie will receive the same recommendations for that movie, regardless of who s/he is.

Therefore, in this section, we will use a technique called Collaborative Filtering to make recommendations to Movie Watchers. Collaborative Filtering is based on the idea that users similar to a me can be used to predict how much I will like a particular product or service those users have used/experienced but I have not.

I will not be implementing Collaborative Filtering from scratch. Instead, I will use the Surprise library that used extremely powerful algorithms like Singular Value Decomposition (SVD) to minimise RMSE (Root Mean Square Error) and give great recommendations.

In [66]:
reader = Reader()

In [67]:
ratings = pd.read_csv('ratings_small.csv')

In [68]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [69]:
data = Dataset.load_from_df(ratings[ ['userId', 'movieId', 'rating'] ], reader)
data.split(n_folds = 5)

In [71]:
svd = SVD()
evaluate(svd, data, measures=['RMSE', 'MAE'])

Evaluating RMSE, MAE of algorithm SVD.

------------
Fold 1
RMSE: 0.8902
MAE:  0.6865
------------
Fold 2
RMSE: 0.8922
MAE:  0.6858
------------
Fold 3
RMSE: 0.9008
MAE:  0.6923
------------
Fold 4
RMSE: 0.9084
MAE:  0.6996
------------
Fold 5
RMSE: 0.8928
MAE:  0.6889
------------
------------
Mean RMSE: 0.8969
Mean MAE : 0.6906
------------
------------

CaseInsensitiveDefaultDict(list,
                           {'mae': [0.6864786781814486,
                             0.6857781878453247,
                             0.6923204581639428,
                             0.6995547655066094,
                             0.6889160300285995],
                            'rmse': [0.8902326779562659,
                             0.8922430176040688,
                             0.9007843724958884,
                             0.9083864517588499,
                             0.8927908641001566]})

In [73]:
trainset = data.build_full_trainset()
svd.train(trainset)

Let us pick user 5000 and check the ratings s/he has given.

In [74]:
ratings[ratings['userId'] == 1]

    userId  movieId  rating   timestamp
0        1       31     2.5  1260759144
1        1     1029     3.0  1260759179
2        1     1061     3.0  1260759182
3        1     1129     2.0  1260759185
4        1     1172     4.0  1260759205
5        1     1263     2.0  1260759151
6        1     1287     2.0  1260759187
7        1     1293     2.0  1260759148
8        1     1339     3.5  1260759125
9        1     1343     2.0  1260759131
10       1     1371     2.5  1260759135
11       1     1405     1.0  1260759203
12       1     1953     4.0  1260759191
13       1     2105     4.0  1260759139
14       1     2150     3.0  1260759194
15       1     2193     2.0  1260759198
16       1     2294     2.0  1260759108
17       1     2455     2.5  1260759113
18       1     2968     1.0  1260759200
19       1     3671     3.0  1260759117

In [75]:
svd.predict(1,302, 3)

Prediction(uid=1, iid=302, r_ui=3, est=2.8306212045685872, details={'was_impossible': False})

For movie with ID 302, we get an estimated prediction of 2.686. One startling feature of this recommender system is that it doesn't care what the movie is (or what it contains). It works purely on the basis of an assigned movie ID and tries to predict ratings based on how the other users have predicted the movie.

# Hybrid Recommender

![Hybrid Recommender](https://cdn.marutitech.com/wp-content/uploads/2017/05/Hybrid-Recommendation-min.jpg)

In this section, I will try to build a simple hybrid recommender that brings together techniques we have implemented in the content based and collaborative filter based engines. This is how it will work:

Input: User ID and the Title of a Movie
Output: Similar movies sorted on the basis of expected ratings by that particular user.

In [80]:
def convert_int(x):
    try: 
        return int(x)
    except:
        return np.nan

In [82]:
id_map = pd.read_csv('links_small.csv')[['movieId', 'tmdbId']]
id_map['tmdbId'] = id_map['tmdbId'].apply(convert_int)
id_map.columns = ['movieId', 'id']
id_map = id_map.merge(smd[['title', 'id']], on='id').set_index('title')

In [83]:
indices_map = id_map.set_index('id')

In [86]:
def hybrid(userId, title):
    idx = indices[title]
    tmdbId = id_map.loc[title]['id']
    print(idx)
    movie_id = id_map.loc[title]['movieId']
    
    sim_scores = list(enumerate(cosine_sim[int(idx)]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:26]
    movie_indices = [i[0] for i in sim_scores]
    
    movies = smd.iloc[movie_indices][['title', 'vote_count', 'vote_average', 'year', 'id']]
    movies['est'] = movies['id'].apply(lambda x: svd.predict(userId, indices_map.loc[x]['movieId']).est)
    movies = movies.sort_values('est', ascending=False)
    return movies.head(20)

In [87]:
hybrid(1, "Avatar")

7488

,title,vote_count,vote_average,year,id,est
522,Terminator 2: Judgment Day,4274.0,7.7,1991,280,3.265037
8658,X-Men: Days of Future Past,6155.0,7.5,2014,127585,3.187324
1011,The Terminator,4208.0,7.4,1984,218,3.168651
922,The Abyss,822.0,7.1,1989,2756,3.148161
974,Aliens,3282.0,7.7,1986,679,2.965663
8401,Star Trek Into Darkness,4479.0,7.4,2013,54138,2.842825
2014,Fantastic Planet,140.0,7.6,1973,16306,2.830981
1621,Darby O'Gill and the Little People,35.0,6.7,1959,18887,2.814415
4017,Hawk the Slayer,13.0,4.5,1980,25628,2.795144
1376,Titanic,7770.0,7.5,1997,597,2.720304
4347,Piranha Part Two: The Spawning,41.0,3.9,1981,31646,2.694363
1668,Return from Witch Mountain,38.0,5.6,1978,14822,2.662254
4966,Hercules in New York,63.0,3.7,1969,5227,2.619791
344,True Lies,1138.0,6.8,1994,36955,2.570089
3060,Sinbad and the Eye of the Tiger,39.0,6.3,1977,11940,2.534989
7265,Dragonball Evolution,475.0,2.9,2009,14164,2.534653
8419,Man of Steel,6462.0,6.5,2013,49521,2.533507
8724,Jupiter Ascending,2816.0,5.2,2015,76757,2.486646
831,Escape to Witch Mountain,60.0,6.5,1975,14821,2.478478
2132,Superman II,642.0,6.5,1980,8536,2.435341